<!DOCTYPE html>
<html lang="es-MX">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>📘 Libros</title>
</head>

<body>
  <h1>📘 Libros</h1>
  <p>Un proyecto que recopila y cataloga libros gratuitos en español sobre computación, informática y otros temas
    afines. Su objetivo es brindar acceso fácil y organizado a recursos educativos para aquellos interesados en ampliar
    sus conocimientos en estos campos. ✨</p>
</body>

</html>